*/__pycache__/*
*.pyc
tmp
trash
cover
.coverage
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.idea
*~
.*.swp
doc/build
venv
cache*
*.egg-info
.tox
.cache
.coverage.*
htmlcov
coverage.xml
.vscode/.ropeproject
