body {
background-color: #ddd;
font-size: 18pt;
}
.container {
    width: 80% !important;
}

.reveal .slides {
    width: 1300px;
    left: 40%;
}

div.cell {
    width: 1300px;
    left: 50%;
    top: 50%;
}

div.input_area {
    font-size: 20pt;
}
div.output_area pre {
color: navy;
}
.reveal table th, .reveal table td {
color: white;
}
